{% extends "career/base.html" %}
{% block content %}
<article>
	<section>
		{% load static %}
	
		<div class="block">
			<h2>About Us</h2>
			<br/>
		
			<div class="well bs-component" style="width:80%; margin: 0 auto">				
				<p>Choosing a career, study field and/or tertiary institution is a big decision and will be a primary factor in the quality of 
				the life you're going to live in the future, so choosing wisely and suitably is of the utmost of importance.</p>

				<p>We at Career Study Advisor are a team of advisors dedicated to helping you find a career path that you truly want 
				and subsequently create a future you can truly embrace. The journey there isn't always easy but taking the first 
				step is the most important part, and this is what we want to help you with. </p>
				
				<p>Should you have any questions, feel free to use the chat facility on this website to talk to an advisor on
				 call. We are here to assist you so don't hesitate to make use of it!</p>
		
				<p>Your future is in your hands, but don't worry, we're here to hold them with you!</p>
				<p><b>Your friends at CSA </b></p>				
			</div>	
			<br/>
			<div style = "text-align:center">
				<img alt="no image found" src="{% static "students.jpg" %}"/>			
			</div>
			<br/>
		</div>
	</section>
</article>
{% endblock %}
